@import '../../styles/mixins';

#newLanding {
  $x-small: 600px;
  isolation: isolate;
  @media (max-width: $x-small) {padding-top: 140px;}

  .eliminarxmobile {
    @media (max-width: $x-small) {display: none;}
  }
  .verxmobile {
    @media (min-width: $x-small) {display: none;}
  }

  .background-landing {
    width: 100vw !important;
    margin-inline: calc(50% - 50vw) !important;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    object-fit: cover !important;
    filter: brightness(6%);
    background-blend-mode: normal, overlay;
    &.verxmobile {
      top: -150px;
      filter: brightness(4%);
    }
  }

  .lights-up {
    width: 100vw !important;
    margin-inline: calc(50% - 50vw) !important;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    object-fit: cover !important;
  }

  h2 {
    color: #FFFFFF !important;
  }

  .v-btn.stylish {
    background-color: transparent;
    @include borderGradientCssFeatured(2, 27);
    /* Firefox */
    @-moz-document url-prefix() {
      @include borderGradientImageCard(url('../../assets/backgrounds/border-gradient-btn-xsmall.png'));
    }

    display: flex;
    padding: 12.8571px 21.4286px;
    height: 51px;
    backdrop-filter: blur(3.21429px);
    border-radius: 10.7143px;
    span {
      font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
      font-weight: 510 !important;
      font-size: 16.0714px !important;
      text-align: center;
      color: #FFFFFF;
    }
  }


  //* hero
  #hero {
    height: clamp(400px, 75vw , 900px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--landing-margin);
    @media (max-width: $x-small) {margin-bottom: 400px;}

    h1 {
      max-width: 1111.25px;
      font-family: 'Proxima Nova', 'SF Pro', sans-serif !important;
      font-weight: 700;
      font-size: 120px;
      line-height: 120px;
      text-align: center;
      letter-spacing: -0.035em !important;
      margin: 0;

      background-image: linear-gradient(176.39deg, #FFFFFF 19.52%, #FFFFFF 114.85%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;

      @media (max-width: 880px) {
        max-width: 327px;
        font-size: 47px;
        line-height: 44.65px;
        background-image: linear-gradient(167.76deg, #FFFFFF 29.85%, rgba(255, 255, 255, 0) 164.18%);
      }
    }
  }

  //* hero down
  #hero-down-img {
    padding-inline: 166px 47px;
    img {object-fit: cover !important;}
    @media (min-width: 1500px) {margin-top: 12vw;}
    @media (max-width: 880px) {
      margin-inline: auto;
      margin-block: 110px 150px;
      img {width: 325px !important;}
      padding-inline: 32px;
    }
  }

  //* bullshit
  #bullshit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--landing-margin);

    > div {
      max-width: 884.79px;
      margin-inline: auto;
      @media (min-width: 880px) {margin-block: 400px;}

      h2 {
        font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
        font-weight: 510 !important;
        font-size: 43.3603px !important;
        line-height: 50px !important;
        @media (max-width: 880px) {
          font-size: 16.1232px !important;
          line-height: 19px !important;
        }
      }

      img {
        width: 100%;
        border-radius: 29.2975px;
        @media (max-width: 880px) {border-radius: 10.894px}
      }
    }
  }

  //* about
  #about {
    padding-inline: var(--landing-margin);
    display: flex;
    flex-direction: column;
    gap: 200px;
    @media (max-width: 880px) {gap: 150px;}
    h2 {
      max-width: 613px;
      font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
      font-weight: 510 !important;
      font-size: 42px !important;
      line-height: 50px !important;
      @media (max-width: 880px) {
        max-width: 360px;
        font-size: 36px !important;
        line-height: 43px !important;
      }
    }
    article {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
    img {object-fit: cover;}

    article:first-child {
      @media (max-width: 880px) {
        flex-direction: column-reverse;
        align-items: center;
      }

      img {
        width: 416.37px;
        height: 428.16px;
        @media (max-width: 880px) {
          width: 292px;
          height: 300.27px; 
        }
      }
      div.divcol {align-items: flex-start}
    }

    article:last-child {
      @media (max-width: 880px) {
        flex-direction: column;
        align-items: center;
      }

      img {
        width: 446.96px;
        height: 360px;
        @media (max-width: 880px) {
          width: 357.57px;
          height: 288px;
        }
      }
      div.divcol {
        align-items: flex-end;
        text-align: right;
        @media (max-width: 880px) {
          align-items: flex-start;
          text-align: left;
        }
      }
    }
  }

  
  //* faq
  #FAQ {
    display: flex;
    flex-direction: column;
    margin-block: 500px;
    padding-inline: var(--landing-margin) !important;
    @media (max-width: 880px) {margin-bottom: 480px;}

    h2 {
      font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
      font-weight: 700 !important;
      font-size: 32px !important;
      text-align: center !important;
      margin: 0;
      &#faq {
        font-family: 'Proxima Nova', 'Proxima Nova' !important;
        font-weight: 800 !important;
        font-size: 48px !important;
        letter-spacing: -0.035em !important;
      }
    }

    span.text {
      font-family: 'SF Pro', 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      color: #FFFFFF;
      @media (max-width: 880px) {
        margin-inline: auto;
        max-width: 361px;
      }
    }

    .v-btn {
      width: 104.86px;
    }

    .v-expansion-panels.expansion-faqs {
      max-width: 768px !important;
      margin-inline: auto;
      margin-block: 100px !important;
      @media (max-width: 880px) {
        max-width: 361px !important;
        margin-block: 88px !important;
      }

      .v-expansion-panel {
        border-radius: 11px !important;
        background-color: transparent !important;
        background-size: fill !important;
        @include borderGradient2Css();
        // background: center no-repeat url(../../assets/newLanding/faq-header.png);
        // @media (max-width: 880px) {background-image: url(../../assets/newLanding/faq-header-mobile.png) !important;}
        // &--active {
        //   background-size: 100% 100% !important;
        //   background-image: url(../../assets/newLanding/faq-content.png) !important;
        //   @media (max-width: 880px) {background-image: url(../../assets/newLanding/faq-content-mobile.png) !important;}
        // }

        &:not(:first-child) {margin-top: 16px;}
        * {color: #fff !important}

        &-header {
          padding: 20px 24px !important;
          min-height: 73px !important;
          font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
          font-weight: 510 !important;
          font-size: 22px !important;
          @media (max-width: 880px) {
            padding-block: 0px !important;
            font-size: 18px !important;
            line-height: 150% !important;
          }
        }

        &-content__wrap {
          padding-block: 5px 20px !important;
          font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
          font-weight: 400 !important;
          font-size: 22px !important;
          @media (max-width: 880px) {font-size: 18px !important;}
          line-height: 150%;
        }
      }
    }
  }

  //* memorable
  #memorable {
    padding-inline: var(--landing-margin);
    margin-bottom: 327px;
    @media (max-width: 880px) {margin-bottom: 500px;}

    > div {
      max-width: 1312px;
      width: 100%;
      height: 359px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      @media (min-width: 880px) {
        padding: 20px;
        backdrop-filter: blur(36px);
        border-radius: 25px;
        @include borderGradient2Css();
      }

      h2 {
        font-family: 'SF Pro', 'Proxima Nova', sans-serif;
        font-weight: 510;
        font-size: 47px !important;
        line-height: 56px;
        text-align: center;
        @media (max-width: 880px) {
          max-width: 361px;
          font-size: 31px !important;
          line-height: 37px !important;
        }
      }
    }
  }


  
  .lights-down {
    width: 100vw !important;
    margin-inline: calc(50% - 50vw) !important;
    position: absolute !important;
    rotate: 180deg !important;
    bottom: 0;
    @media (max-width: 880px) {bottom: 250px !important;}
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    object-fit: cover !important;
  }


  //* footer
  #footer {
    width: 100vw !important;
    margin-inline: calc(50% - 50vw) !important;
    padding-block: clamp(1em, 4vw, 4em);
    // min-height: 541px;
    // @media (max-width: 880px) {min-height: 907px;}
    background: rgba(255, 255, 255, 0.01) !important;
    backdrop-filter: blur(250px) !important;

    > div {
      max-width: 1728px;
      width: 100% !important;
      @media (max-width: $x-small) {max-width: 361px;}
      margin-inline: auto;
      padding-inline: var(--landing-margin);
    }

    .top {
      display: flex;
      justify-content: space-between;
      @media (max-width: 880px) {
        flex-direction: column;
        gap: 100px;
      }

      h3 {
        font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
        font-weight: 590 !important;
        font-size: 16px !important;
        line-height: 150%;
      }

      span {
        font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
        font-weight: 400 !important;
        line-height: 150% !important;
        color: #FFFFFF !important;

        a {
          color: #FFFFFF !important;
          text-decoration: underline !important;
        }
      }

      .left {
        max-width: 500px;

        > div {
          gap: 10px;

          .v-input {
            height: 42px !important;
            &__slot {
              padding: 12px;
              min-height: 42px !important;
              height: 42px !important;
              background: rgba(217, 217, 217, 0.2);
              border-radius: 10px;

              input, ::placeholder {
                font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
                font-weight: 400 !important;
                font-size: 16px !important;
                line-height: 150% !important;
                color: #FFFFFF !important;
              }
            }

            &__append-outer {
              margin-block: auto;
              margin-left: 20px;
              .v-btn {height: 42px !important;}
            }
          }
        }
      }

      .right {
        > div {
          a {
            display: flex;
            gap: 12px;
          }
        }
      }
    }


    .bottom {
      margin-top: 100px;
      border-top: 1px solid #fff !important;
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      @media (max-width: 880px) {
        flex-direction: column;
        margin-top: 90px;
        gap: 70px;

        > div {
          justify-content: space-between !important;
        }
      }

      a, span {
        font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
        font-weight: 400 !important;
        font-size: 14px !important;
      }
      a {
        text-decoration: underline !important;
        color: #fff !important;
      }
    }
  }
}
