@import '../../styles/mixins';
@import '../../styles/_variables';

#newLanding {
  $x-small: 600px;
  isolation: isolate;
  @media (max-width: $x-small) {padding-top: 140px;}
  @media (max-width: 400px) {font-size: clamp(12px, 3.5vw, 16px) !important}

  .eliminarxmobile {
    @media (max-width: $x-small) {display: none;}
  }
  .verxmobile {
    @media (min-width: $x-small) {display: none;}
  }


  h2 {
    color: #FFFFFF !important;
  }

  .v-btn.stylish {
    background-color: transparent;
    @include borderGradientCssFeatured(2, 27);
    /* Firefox */
    @-moz-document url-prefix() {
      @include borderGradientImageCard(url('../../assets/backgrounds/border-gradient-btn-xsmall.png'));
    }

    display: flex;
    padding: 12.8571px 21.4286px;
    height: 51px;
    backdrop-filter: blur(3.21429px);
    border-radius: 10.7143px;
    span {
      font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
      font-weight: 510 !important;
      font-size: 16.0714px !important;
      text-align: center;
      color: #FFFFFF;
    }
  }


  //* hero
  #hero {
    height: clamp(400px, 75vw , 900px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--landing-margin);
    @media (max-width: 880px) {margin-bottom: 20vw;}
    @media (max-width: 700px) {margin-bottom: 35vw;}
    @media (max-width: $x-small) {margin-bottom: 25em;}

    h1 {
      max-width: 1111.25px;
      font-family: 'Proxima Nova', 'SF Pro', sans-serif !important;
      font-weight: 700;
      font-size: 120px;
      line-height: 120px;
      text-align: center;
      letter-spacing: -0.035em !important;
      margin: 0;

      background-image: linear-gradient(176.39deg, #FFFFFF 19.52%, #FFFFFF 114.85%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;

      @media (max-width: 1200px) {
        font-size: clamp(5em, 7vw, 7.5em);
        line-height: clamp(80px, 7vw, 112px);
      }
      @media (max-width: 880px) {
        font-size: clamp(5em, 7vw, 7.5em);
        line-height: clamp(80px, 7vw, 112px);
        transform: translateY(30%);
      }
      @media (max-width: 700px) {
        font-size: clamp(4em, 7vw, 7.5em);
        line-height: 1;
        transform: translateY(30%);
      }
      @media (max-width: 650px) {
        transform: translateY(50%);
      }
      @media (max-width: $x-small) {
        max-width: 327px !important;
        font-size: 47px;
        line-height: 44.65px;
        background-image: linear-gradient(167.76deg, #FFFFFF 29.85%, rgba(255, 255, 255, 0) 164.18%);
        transform: translateY(-20%);
      }
      @media (max-width: 320px) {
        transform: translateY(-30%);
      }
      // @media (max-width: 660px) {transform: translateY(-15%);}
      // @media (max-width: 550px) {transform: translateY(-10%);}
      // @media (max-width: 400px) {transform: translateY(-5%);}
      // @media (max-width: 310px) {transform: translateY(0);}
    }
  }

  //* hero down
  #hero-down-img {
    padding-inline: 166px 47px;
    img {object-fit: cover !important;}
    @media (min-width: 1500px) {margin-top: 12vw;}
    @media (max-width: 880px) {
      margin-inline: auto;
      margin-block: 110px 150px;
      img {width: 20.3125em !important;}
      padding-inline: 2em;
    }
  }

  //* bullshit
  #bullshit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--landing-margin);

    > div {
      width: 100%;
      max-width: 884.79px;
      @media (max-width: 880px) {max-width: 20.5625em;}
      margin-inline: auto;
      @media (min-width: 880px) {margin-block: 400px;}

      h2 {
        font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
        font-weight: 510 !important;
        font-size: 43.3603px !important;
        line-height: 50px !important;
        @media (max-width: 880px) {
          font-size: 16.1232px !important;
          line-height: 19px !important;
        }
      }
    }

    .v-data-table {
      font-size: clamp(12px, 1vw, 16px);
      position: relative;
      width: 100%;
      padding: 4.0284125em 5.85950625em 6.5919375em;
      @media (max-width: 880px) {padding: 1.49793125em 2.17880625em 2.45115625em}
      border-radius: 29.2975px;
      @include borderGradient2Css();

      table {
        --margin: 48.05px;
        @media (max-width: 880px) {--margin: 1.116875em;}

        padding: 0 !important;
        border-collapse: collapse;
        border-spacing: 0;

        thead {
          tr {
            th {
              height: max-content !important;
              border: none !important;
              padding: 0 !important;

              span {
                font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
                font-weight: 410;
                font-size: 35.157px;
                @media (max-width: 880px) {font-size: 13.0728px}
                text-align: center;
                color: #FFFFFF !important;
              }
            }
          }
        }

        tbody {
          tr {
            background: transparent !important;

            td {
              border: none !important;
              padding: 0 !important;
              height: max-content !important;

              &:nth-child(1) {
                display: flex;
                align-items: flex-end;

                width: 255.47px;
                height: 100%;
                @media (max-width: 880px) {width: 95px;}
              }
              
              span {
                //? gap between tr
                margin-top: var(--margin) !important;

                font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
                font-weight: 410;
                font-size: 26.9537px;
                @media (max-width: 880px) {font-size: 10.0225px;}
                line-height: 1.1;
                color: #FFFFFF;

                display: flex;
                align-items: center;
                min-height: 59.28px;
                @media (max-width: 880px) {min-height: 22.03px;}
              }

              img {
                // //? gap between tr
                margin-top: var(--margin) !important;

                width: 46.88px;
                @media (max-width: 880px) {width: 17.43px}
              }
            }
          }
        }
      };
    }

    &-card {
      position: relative;
      width: 100%;
      padding-block: 64.4546px;
      padding-inline: 93.7521px 105.471px;
      border-radius: 29.2975px;
      @include borderGradient2Css();
    }
  }

  //* about
  #about {
    padding-inline: var(--landing-margin);
    display: flex;
    flex-direction: column;
    gap: 200px;
    @media (max-width: 880px) {gap: 9.375em;}
    h2 {
      max-width: 613px;
      font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
      font-weight: 510 !important;
      font-size: 42px !important;
      line-height: 50px !important;
      @media (max-width: 880px) {
        max-width: 22.5em;
        font-size: 36px !important;
        line-height: 43px !important;
      }
    }
    article {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
    img {object-fit: cover;}

    article:first-child {
      @media (max-width: 880px) {
        flex-direction: column-reverse;
        align-items: center;
      }

      img {
        width: 416.37px;
        height: 428.16px;
        @media (max-width: 880px) {
          width: 18.25em;
          height: 18.766875em; 
        }
      }
      div.divcol {align-items: flex-start}
    }

    article:last-child {
      @media (max-width: 880px) {
        flex-direction: column;
        align-items: center;
      }

      img {
        width: 446.96px;
        height: 360px;
        @media (max-width: 880px) {
          width: 22.348125em;
          height: 18em;
        }
      }
      div.divcol {
        align-items: flex-end;
        text-align: right;
        @media (max-width: 880px) {
          align-items: flex-start;
          text-align: left;
        }
      }
    }
  }

  
  //* faq
  #FAQ {
    display: flex;
    flex-direction: column;
    margin-block: 31.25em;
    padding-inline: var(--landing-margin) !important;
    @media (max-width: 880px) {margin-bottom: 30em;}

    h2 {
      font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
      font-weight: 700 !important;
      font-size: 32px !important;
      text-align: center !important;
      margin: 0;
      &#faq {
        font-family: 'Proxima Nova', 'Proxima Nova' !important;
        font-weight: 800 !important;
        font-size: 48px !important;
        letter-spacing: -0.035em !important;
      }
    }

    span.text {
      font-family: 'SF Pro', 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      color: #FFFFFF;
      @media (max-width: 880px) {
        margin-inline: auto;
        max-width: 361px;
      }
    }

    .v-btn {
      width: 104.86px;
    }

    .v-expansion-panels.expansion-faqs {
      max-width: 768px !important;
      margin-inline: auto;
      margin-block: 100px !important;
      @media (max-width: 880px) {
        max-width: 22.5625em !important;
        margin-block: 88px !important;
      }

      .v-expansion-panel {
        border-radius: 11px !important;
        background-color: transparent !important;
        background-size: fill !important;
        position: relative;
        @include borderGradient2Css();
        // background: center no-repeat url(../../assets/newLanding/faq-header.png);
        // @media (max-width: 880px) {background-image: url(../../assets/newLanding/faq-header-mobile.png) !important;}
        // &--active {
        //   background-size: 100% 100% !important;
        //   background-image: url(../../assets/newLanding/faq-content.png) !important;
        //   @media (max-width: 880px) {background-image: url(../../assets/newLanding/faq-content-mobile.png) !important;}
        // }

        &:not(:first-child) {margin-top: 16px;}
        * {color: #fff !important}

        &-header {
          padding: 20px 24px !important;
          min-height: 73px !important;
          font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
          font-weight: 510 !important;
          font-size: 22px !important;
          @media (max-width: 880px) {
            padding-block: 0px !important;
            font-size: 18px !important;
            line-height: 150% !important;
          }
        }

        &-content__wrap {
          padding-block: 5px 20px !important;
          font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
          font-weight: 400 !important;
          font-size: 22px !important;
          @media (max-width: 880px) {font-size: 18px !important;}
          line-height: 150%;
        }
      }
    }
  }

  //* memorable
  #memorable {
    padding-inline: var(--landing-margin);
    margin-bottom: 327px;
    @media (max-width: 880px) {margin-bottom: 31.25em;}

    > div {
      max-width: 1312px;
      width: 100%;
      height: 359px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      @media (min-width: 880px) {
        padding: 1.25em;
        backdrop-filter: blur(36px);
        border-radius: 25px;
        position: relative;
        @include borderGradient2Css();
      }

      h2 {
        font-family: 'SF Pro', 'Proxima Nova', sans-serif;
        font-weight: 510;
        font-size: 47px !important;
        line-height: 56px;
        text-align: center;
        @media (max-width: 880px) {
          max-width: 361px;
          font-size: 31px !important;
          line-height: 37px !important;
        }
      }
    }
  }



  //* footer
  &--footer {
    width: 100vw !important;
    margin-inline: calc(50% - 50vw) !important;
    padding-block: clamp(1em, 4vw, 4em);
    // min-height: 541px;
    // @media (max-width: 880px) {min-height: 907px;}
    background: rgba(255, 255, 255, 0.01) !important;
    backdrop-filter: blur(250px) !important;

    > div {
      max-width: 1728px;
      width: 100% !important;
      @media (max-width: $x-small) {max-width: 22.5625em;}
      margin-inline: auto;
      padding-inline: var(--landing-margin);
    }

    .top {
      display: flex;
      justify-content: space-between;
      @media (max-width: 880px) {
        flex-direction: column;
        gap: 100px;
      }

      h3 {
        font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
        font-weight: 590 !important;
        font-size: 16px !important;
        line-height: 150%;
      }

      span {
        font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
        font-weight: 400 !important;
        line-height: 150% !important;
        color: #FFFFFF !important;

        a {
          color: #FFFFFF !important;
          text-decoration: underline !important;
        }
      }

      .left {
        max-width: 31.25em;

        > div {
          gap: 10px;

          .v-input {
            height: 42px !important;
            &__slot {
              padding: 12px;
              min-height: 42px !important;
              height: 42px !important;
              background: rgba(217, 217, 217, 0.2);
              border-radius: 10px;

              input, ::placeholder {
                font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
                font-weight: 400 !important;
                font-size: 16px !important;
                line-height: 150% !important;
                color: #FFFFFF !important;
              }
            }

            &__append-outer {
              margin-block: auto;
              margin-left: 20px;
              .v-btn {height: 42px !important;}
            }
          }
        }
      }

      .right {
        > div {
          a {
            display: flex;
            gap: 12px;
            img {
              width: 24px !important;
              height: 24px !important;
            }
          }
        }
      }
    }


    .bottom {
      margin-top: 100px;
      border-top: 1px solid #fff !important;
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      @media (max-width: 880px) {
        flex-direction: column;
        margin-top: 90px;
        gap: 70px;

        > div {
          justify-content: space-between !important;
        }
      }

      a, span {
        font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
        font-weight: 400 !important;
        font-size: 14px !important;
      }
      a {
        text-decoration: underline !important;
        color: #fff !important;
      }
    }
  }



  &--terms, &--policy {
    padding-block: 280px 100px;
    @media (max-width: $x-small) {padding-block: 100px 100px;}
    padding-inline: var(--landing-margin);

    [indent] {
      text-indent: 20px;
    }
    [indent-plus] {
      padding-left: 60px;
      @media (max-width: $x-small) {padding-left: 20px;}
    }
    [bold] {
      font-weight: 700 !important;
    }
    [margin] {
      margin-block: 20px !important;
    }
    [margin-top] {
      margin-top: 20px !important;
    }
    [margin-bottom] {
      margin-bottom: 20px !important;
    }

    h1, h2 {
      font-family: 'Proxima Nova', 'SF Pro', sans-serif !important;
    }
    h1 {
      font-weight: 600 !important;
    }

    p {
      font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
      font-weight: 400 !important;
      font-size: 22px !important;
      @media (max-width: 880px) {font-size: 18px !important;}
      line-height: 1.25;
    }

    a {
      font-weight: 700 !important;
      text-decoration: underline !important;
      color: #cc00b7 !important;
    }
  }

  &--terms {
    blockquote {
      font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
      font-size: 22px !important;
      @media (max-width: 880px) {font-size: 18px !important;}
      line-height: 1.3;
      color: #fff !important;

      span {font-weight: 400 !important;}
    }
  }

  &--policy {
    blockquote {
      font-family: 'SF Pro', 'Proxima Nova', sans-serif !important;
      font-size: $h2-font-size !important;
      font-weight: 400 !important;
      line-height: 1.15;
      color: #fff !important;
    }
  }
}
