@import "~vuetify/src/styles/styles.sass";
@import 'variables';
@import 'base';
@import 'personal-base';
@import 'responsive';
@import 'mixins';

.limiter {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto
}
