@import "~vuetify/src/styles/styles.sass";
@import 'variables';
@import 'base';
@import 'personal-base';
@import 'responsive';
@import 'mixins';

*:not(.v-icon) {font-family: "Proxima Nova", "SF Pro", sans-serif !important}

.v-dialog {border-radius: .2vmax}

// input statements
.v-text-field--solo.v-input--is-focused .v-input__slot {border: 1px solid rgba(255, 255, 255, 0.3)}
.v-text-field--solo.error--text .v-input__slot {border: 1px solid red}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
  // &:hover {background: var(--clr-bg-scroll)}
  @media (max-width: 880px) {
    width: 2.5px;
    height: 2.5px;
  }
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: $text-grey;
}

.limiter {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto
}

.v-btn {text-transform: none;letter-spacing: normal}
button:not(.not_typography, .not) {
  &::first-letter, & ::first-letter {text-transform: uppercase}
}

.v-application {
  & :is(.primary--text, button[type].primary--text) {
    color: #CC00B7 !important;
    & :is(span, i) {color: #CC00B7 !important}
    & .v-input__slot::after {
      background: #CC00B7 !important;
      border-color: #CC00B7 !important;
    }
  }
}