@import "../../styles/app";

//global
// $containerW: 100px;
// $containerH: 100px;

// layout
.fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0 0 0 0;
  z-index: 0;
}
#navbar {transition: 0.3s ease-in-out}
.layout{
  position: relative;
  height: 100vh !important;
  .v-main__wrap {
    padding-inline: 0;
    // padding-top: clamp(3rem, 22vh , 8rem);
    background-color: transparent;
    // @media (max-height: 800px) {
    // padding-top: clamp(3rem, 13vh , 9rem);
    // }
  }
  .v-main.events {
    padding-left: calc(clamp(8em, 10vw, 10.0625em) + (clamp(1em, 4vw, 4em) * 2)) !important;
    background: linear-gradient(180.22deg, rgba(246, 85, 235, 0.09) 0.19%, rgba(30, 30, 30, 0) 39.99%, rgba(102, 205, 118, 0.12) 99.82%) !important;
  }

  .filtro1{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0px;
    top:23%;
    background: rgba(255, 0, 229, 0.62);
    filter: blur(70px);
  }
  .filtro2{
    position: absolute;
    width: 350px;
    height:350px;
    left: 20%;
    bottom: -10%;
    border-radius: 50%;
    background: rgba(250, 255, 28, 0.37);
    filter: blur(90px);
  }
  .filtro3{
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    right: 15%;
    bottom: 7%;
    background: rgba(255, 0, 229, 0.45);
    filter: blur(80px);
  }
  .filtro4{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    right: 0px;
    top:20%;
    background: rgba(211, 254, 184, 0.33);
    filter: blur(100px);
  }
}


/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

// header
@media(max-width:376px){
  #headerApp{font-size: 12px !important}
}
#headerApp {
  transition: 0.4s ease-in-out;
  &.events {
    & .v-toolbar__content {padding-inline: clamp(1em, 4vw, 4em)}
  }
  .logoHeader{
    width: clamp(8em, 10vw, 10.0625em);
    // height: clamp(2.5em, 3vw,3.125em);
  }
  .v-btn {
    padding: clamp(1em,1.5vw, 1.5em);
    text-transform: none !important;
    img{
      // filter: invert(100%);
      width: 0.9375em;
      height: 0.9375em;
      margin-right: 0.5em;
    }
    span{
      font-weight: 700;
      font-size: var(--step-em--3);
      /* identical to box height */
      text-align: center;
      letter-spacing: -0.03em;
    }
  }
  .createEventBtn {
    padding: 12px 20px;
    background: linear-gradient(0deg, #000000 -42.31%, rgba(0, 0, 0, 0) 50%), #CC00B7 !important;
    border-radius: 10px;
    span {color:#FFFFFF !important}
  }
}


/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

// footer
.v-footer {
  bottom: 0;
  .row {padding-block: 48px 73px; max-width: 1200px; margin-inline: auto !important;}
  span {font-size: var(--step-em--4); color: #A0A0A0;}
  .footer-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-div.astro {
    margin-bottom: 0px;
    margin-left: 7px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-div.mintbase {
    margin-bottom: 0px;
  }
  .footer-logo {
    max-width: 101px;
    margin-right: 7px;
    margin-left: 7px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .footer {
    max-width: 100px;
  }
  .section-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #0a0a0a;
  }
  @media screen and (min-width: 991px) {
    height: 160px !important;
  }
  @media screen and (max-width: 991px) {
    .row {padding-block: 1.5em}
    .footer-div.astro {
      margin-bottom: 14px;
    }
    .footer-div.mintbase {
      margin-bottom: 7px;
    }
  }
  @media screen and (max-width: 479px) {
    .footer-div {
      padding-bottom: 2px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  
    .footer-div.astro {
      margin-top: 2px;
      margin-bottom: 3px;
      padding-top: 0px;
      padding-bottom: 1px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  
    .footer-div.mintbase {
      padding-bottom: 0px;
    }
  
    .footer-logo {
      max-width: 80px;
    }
  
    .footer {
      max-width: 80px;
    }
  
    .section-2 {
      padding-right: 6px;
      padding-left: 6px;
    }
  }

  // .row {
  //   justify-content: center;
  //   @include media-breakpoint-up(sm) {
  //     justify-content: space-between;
  //   }
  // }
}
