.error-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: center fixed no-repeat url("../../assets/backgroundNotFound.png");
  background-size: cover;
}
#containerNotFound {
  position: absolute;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text404 {
  font-family: 'Mulish', sans-serif !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 22rem !important;
  background: linear-gradient(90.11deg, #D64059 -9.74%, #5E489D 111.08%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.textNotFound {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold !important;
  font-size: 3.6rem !important;
  color: #FFFFFF;
}
#buttonNotFound {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold !important;
  font-size: 1.8rem !important;
  color: #FFFFFF;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 4.75rem;
  background: linear-gradient(90.11deg, #D64059 -9.74%, #5E489D 111.08%);
  border-radius: 50.6557px;
}
